<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>List todo</h1>
        <div class="form-group">
            <label for="todo"></label>
            <input [(ngModel)]="myTodo.title" (keyup.control.arrowup)="addTodo()" id="todo" placeholder="my todo"
                type="text" class="form-control">
        </div>

        <button *ngIf="!editable" (click)="addTodo()" class="btn btn-success btn-block">
            <i class="fa fa-send"></i> new todo
        </button>
        <button *ngIf="editable" (click)="update(todo)" class="btn btn-warning btn-block">
            <i class="fa fa-refresh"></i> update todo
        </button>

        <ul class="list-group mt-2">
            <li class="list-group-item">
                <h4>List todo</h4>
            </li>
            <li class="list-group-item" *ngFor="let todo of todos">
                {{todo.title}}
                <div class="text-right">
                    <button class="btn btn-warning btn-sm" (click)="editTodo(todo)"><i
                            class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="deleteTodo(todo)"><i
                            class="fa fa-trash"></i></button>
                </div>
            </li>
        </ul>

    </div>
</div>